
body { font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #888; line-height: 30px; text-align: center; }

strong { font-weight: 600; }

h1, h2 { margin-top: 10px; font-size: 30px; font-weight: 300; color: #555; line-height: 50px;}
h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; font-style: italic; }

img { max-width: 100%; }

.medium-paragraph { font-size: 17px; line-height: 32px; }

::-moz-selection { background: #8542a0; color: #fff; text-shadow: none; }
::selection { background: #8542a0; color: #fff; text-shadow: none; }

/***** Section 1 *****/

.section-1-box {text-align: left; }

.section-1-box .section-1-box-icon {
	width: 80px; height: 80px; margin: 0 auto;

	background: #8542a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #a365bc 0%, #8542a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a365bc), color-stop(100%,#8542a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a365bc 0%,#8542a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a365bc 0%,#8542a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a365bc 0%,#8542a0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a365bc 0%,#8542a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a365bc', endColorstr='#8542a0',GradientType=0 ); /* IE6-9 */

    font-size: 40px; color: #fff; line-height: 80px; text-align: center;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.section-1-box h3 { margin-top: 0; padding: 0 0 10px 0; }


.column {
	float: left;
	width: 25%;
	margin-bottom: 16px;
	padding: 0 8px;
	border-radius: 5px;
}


@media screen and (max-width: 900px) {
	.column {
		width: 33.3333%;
		display: block;
	}
	 #maincards h2 {font-size:22px;}
}

@media screen and (max-width: 650px) {
	.column {
		width: 50%;
		display: block;
	}
	 #maincards h2 {font-size:22px;}
	 #maincards p{display: none;}
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 0px 25px 25px 25px;
	overflow: hidden;
	text-decoration: none;
}



.container::after, .row::after {
	content: "";
	clear: both;
	display: table;
}

.title {
	color: grey;
}
.card p{
	text-align: justify;
	text-decoration: none;
}


.tag-line {
		background: #E9E9E9;
		color: #000;
}

.zoom{
	overflow: hidden;
}

.zoom img{
	width: 100%;
	min-height: 200px;
}

.column:hover{
	transition: transform .2s ease;
	transform: scale(1.05);
}

.card:hover img{
	transition: transform .7s ease;
	-webkit-transform: scale(1.2);
}

.card h2{
	font-style: normal;
	font-weight: bold;
	text-align: left;
}

.combo button{
			min-width:140px;
			min-height:30px;
			font-size: 20px;
}

.abtsal{
	-webkit-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.75);
}


	.regular h3{
		margin-top: 10px;
		font-weight: normal;
		font-style: normal;
	}

	.regular img{
		border-radius: 1%;
	}

	/* SLIDER STYLES */
	* {
		box-sizing: border-box;
	}

	.slider {
			width: 100%;
			margin: 30px auto;
	}

	.slick-slide {
		margin: 0px 20px;
	}

	.slick-slide img {
		width: 100%;
	}

	.slick-slide {
		transition: all ease-in-out .3s;
		opacity: .2;
	}

	.slick-active {
		opacity: .5;
	}

	.slick-current {
		opacity: 1;
	}

	
